body{
background-color: #adadad
}
h1, p {
  font-style: italic !important;
  color: #ffffffbd !important;
}
.image-back{

background-size: 100%;
width: 100%;
height: auto;
text-align: center;
align-items: center;

}
.text{
color: #fff;
}
.icons{
width: 3rem;
height: 3rem;
}
/* Style the navbar */
#navbar {
overflow: hidden;
background-color: #333;
  z-index: 9999;
}

/* Navbar links */
#navbar a {
float: left;
display: block;
color: #84cbcb;
text-align: center;
padding-inline: 20px;
font-weight: 700;
text-decoration: none;
font-size: 20px;
font-style: italic;
}
#navbar a:hover{
color: #7e1811;

}
.sticky {
position: fixed;
top: 0;
width: 100%;
}

.content {
padding-top: 50px !important;
padding-bottom: 100px !important;
}
.swiper-slide{
background-size: cover;
background-repeat: no-repeat;
border-radius: 25px;

}
.swiper-slide.extra {
background-size: 100% 100%;
background-repeat: no-repeat;
border-radius: 25px;

}
.sec2-text{
font-size: 25px;
font-style: italic;
font-weight: 500;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.container-sec2-text{

width: 95%;
height: max-content;
border-radius: 20px;
-webkit-box-shadow: 5px 4px 21px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 5px 4px 21px 0px rgba(0,0,0,0.72);
box-shadow: 5px 4px 21px 0px rgba(0,0,0,0.72);
padding: 22px;
margin: auto;
}
.container-sec2-img{

width: 90%;
height: 19rem;
background-image: url(./img/logo_groen_wit.png);
background-repeat: no-repeat;
background-size: cover;
opacity: 0.2;
position: absolute;
display: flex;
}
.swiper.swiper1{
width: 95% !important;
}
.list-items{
font-size: 25px;
font-weight: 600;
color:#fff;
list-style: decimal;

}
.animation
{
animation-name: slide;
animation-duration: 1s;
animation-fill-mode: forwards; 
}
li {
opacity: 0;
}
.delay-1{
animation-delay: 0.5s;
}
.delay-2{
animation-delay: 1s;
}
.delay-3{
animation-delay: 1.5s;
}
.delay-4{
animation-delay: 2s;
}
.delay-5{
animation-delay: 2.5s;
}
.delay-6{
animation-delay: 3s;
}
.delay-7{
animation-delay: 3.5s;
}
.delay-8{
animation-delay: 4s;
}

.text-dir{
    position: relative;
    left: auto;
    right: auto;
    bottom: -0.25em;
    width: 100%;
    height: 0.225em;
    background: #84cbcb;
    display: flex;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


@keyframes slide {
from {opacity: 0; }
to {opacity: 1;}
}

@media only screen and (max-height: 450px) {
.swiper.swiper2{
height: 100% !important;
}
}
